bin/
obj/
*.user
*.suo
*.userprefs
*.lock.json
*.log
*.ide/
.DS_Store
.vs/
.suo
*.nupkg
*.snupkg
*.vcxproj.user
# Rider / VS Code
.idea/
.vscode/
# Output
sessions/
/src/GameListener.App/appsettings.Development.json
/src/GameListener.Transcription/appsettings.Development.json
